
 /*========= Custom Style =================*/

body {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight : normal;
    font-style : normal;
    font-size : 14px;
}
.img{
    max-width: 100%;
    transition: all 0.3s ease-out 0s;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight : normal;
    color : #363636;
    margin-top : 0;
    font-style : normal;
    font-weight : 400;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color : inherit;
}
input,input:focus,textarea,textarea:focus{
  outline: none !important;
  box-shadow: none !important;
}
a,a:hover,a:focus{
  text-decoration: none;
}
.page-wrapper{
	padding: 60px 0;
}
.error-wrapper{
  padding: 60px 0 0;
  margin: 0;
}
.error-wrapper.alert .alert-success {
    padding: 15px 15px;
}
.error-wrapper.alert ul {
    margin: 0;
}
.alert-danger{
  padding: 10px;
}
.title {
    position: relative;
    display: block;
    text-align: center;
    padding-bottom: 30px;
}
.title h2 {
    font-size: 45px;
    color: #202020;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
}

/*=============== Header Area ===================*/

.header-menu {
  position: relative;
  padding: 10px 0 10px;
  background: #1f252b;
}
.navbar-brand img{
  max-width: 150px;
  height: auto;
  width: auto;
  max-height: 60px;
}
.header-menu .navbar.navbar-expand-lg {
  padding-right: 0;
  padding-left: 0;
  padding-top: 0px;
  padding-bottom: 0px;
}
.header-menu {
  position: relative;
}
.header-menu nav.navbar {
  padding: 0;
}
.header-menu nav.navbar .navbar-collapse{
  position: relative;
}
.header-menu .navbar-nav li {
  display: flex;
}
.header-menu .navbar-nav li a {
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  padding: 6px 25px;
  border-bottom: 2px solid transparent;
}
.header-menu .navbar-nav .dropdown.myr-btn > a {
  background: #6497b1;
  border-radius: 10px;
  padding: 8px 20px 4px;
  line-height: 22px;
  margin-left: 15px;
}
.header-menu .navbar-nav .dropdown-menu{
  padding: 10px;
  background-color: rgba(226,66,84,0.9);
}
.main-menu .navbar-nav .dropdown-menu li {
  margin-bottom: 7px;
  border-bottom: 1px solid #d23e4e;
  padding-bottom: 7px;
}
.header-menu .navbar-nav .dropdown-menu li:last-child {
  border-bottom: none;
  margin-bottom: 0px;
  padding-bottom: 0;
}
.header-menu .navbar-nav .dropdown-menu a {
  font-size: 13px;
  padding: 0;
}
.header-menu .navbar-nav .dropdown-menu a:hover,
.header-menu .navbar-nav .dropdown-menu a:focus{
  color: #fff;
  background: transparent;
}

/*======= Home product Slide =============*/

.product-item{
  position: relative;
  display: block;
  margin-bottom: 45px;
}
.product-image{
  position: relative;
  display: block;
  padding: 5px;
  background: #f6f6f6;
}
.product-image img{
  max-width: 100%;
  width: 100%;
  height: auto;
}
.product-image span.seller {
  background: #e24254;
}
.product-image span {
  background: #e24254;
  font-size: 15px;
  color: #fff;
  padding: 6px 15px;
  text-transform: uppercase;
  position: absolute;
  left: 0;
  top: 0;
}
.product-image span.seller{
  background: #1ca2a3;
}
.product-content {
  position: relative;
  display: block;
  padding: 15px;
  background: #f6f6f6;
}
.product-content h3 {
  font-size: 18px;
  text-transform: uppercase;
  line-height: 25px;
}
.product-content h3 a {
  font-weight: 300;
  font-size: 18px;
  color: #000;
  text-decoration: none;
}
.product-content p.price {
  color: #000;
  font-size: 28px;
  margin: 0;
}
.product-content p.price del {
  color: #38404c;
  font-size: 15px;
}
.product-content p.price span{
  font-size: 20px;
}
.products .product-carousel .owl-nav button {
    background:  transparent;
    color: #202f30;
    border-radius: none;
    font-size: 30px;
    height: 36px;
    line-height: 25px;
    position: absolute;
    text-align: center;
    top: 30%;
    width: 50px;
    outline: none;
}
.products .product-carousel .owl-nav button i {
  color: #202f30;
  font-size: 40px;
  line-height: 42px;
}
.products .product-carousel .owl-nav button.owl-next {
  left: inherit;
  right: -60px;
}
.products .product-carousel .owl-nav button.owl-prev {
  left: -60px;
  right: inherit;
}


/*======= Product detail page Section  =============*/

.product-thumb {
    width: 100%;
    height: auto;
}
.product-thumb .content {
  position: relative;
  width: 78%;
  height: auto;
  float: right;
  background: #fff;
}
.product-thumb .content img {
  width: 100%;
  padding: 0 15%;
}
.product-thumb .thumbnail {
    float: left;
    width: 20%;
    overflow-y: scroll;
    height: 265px;
    padding: 0;
}
.product-thumb .thumbnail li{
    list-style: none;
}
#thumb-scroll::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}
#thumb-scroll::-webkit-scrollbar{
    width: 8px;
    background-color: #F5F5F5;
}
#thumb-scroll::-webkit-scrollbar-thumb{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #1f252b;
}
.product-thumb .thumbnail img {
  border: 1px solid #eeeeee;
  width: 100%;
  padding: 15px;
  background: #fff;
  margin-bottom: 5px;
  cursor: pointer;
}
.picZoomer{
  position: relative;
}
.picZoomer-pic-wp{
  position: relative;
  overflow: hidden;
}
.picZoomer-pic-wp:hover .picZoomer-cursor{
  display: block;
}
.picZoomer-zoom-pic{
  position: absolute;
  top: 0;
  left: 0;
}
.picZoomer-pic{
  width: 100%;
  height: 100%;
}
.picZoomer-zoom-wp{
  display: none;
  position: absolute;
  z-index: 999;
  overflow: hidden;
}
.picZoomer-cursor{
  display: none;
  cursor: crosshair;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: 1px solid #eee;
  background-color: rgba(0,0,0,.1);
}
.piclist{
  float: left;
  width: 20%;
}
.piclist li{
    display: inline-block;
    width: 50px;
    height: 50px;
}
.piclist li img{
    width: 100%;
    height: auto;
}
/* custom style */
.picZoomer-pic-wp,
.picZoomer-zoom-wp{
    border: 1px solid #fff;
}
.product-thumb .picZoomer-pic-wp {
  width: auto !important;
  height: auto !important;
}
.product-thumb .content {
  position: relative;
  width: 78%;
  height: auto;
  float: right;
  background: #fff;
  border: 1px solid #eae9e7;
}
.product-thumb .picZoomer img {
  width: 100%;
}
.product-detail{
  position: relative;
  display: block;
}
.product-detail h2 {
  color: #6497b1;
  font-size: 30px;
  text-transform: uppercase;
}
.product-meta {
  position: relative;
  display: block;
  text-align: left;
  padding: 15px 0;
}
.product-meta p.price {
  display: inline-block;
  font-size: 40px;
  color: #1f252b;
  padding-top: 10px;
  margin: 0;
}
.product-meta p.price span{
  font-size: 25px;
}
.product-meta .rating {
  display: block;
}
.product-meta .rating i{
  color: #fdcb1e;
}
.product-detail hr{
  margin: 5px 0 30px;
  padding: 0;
  border-bottom: 1px solid #e6e6e6;
  border-top: 0;
}
.product-detail{
  position: relative;
  display: block;
}
.product-detail ul {
  position: relative;
  padding: 0 0 15px 20px;
}
.product-detail li {
  color: #000;
  font-size: 16px;
  list-style-type: disc;
  padding: 4px 0;
}
.product-btn {
  position: relative;
  display: block;
  margin: 20px 0 10px;
}
.product-btn a{ 
  display: inline-block;
  padding: 10px 20px;
  font-size: 15px;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 15px;
  background: #3db497;
  text-transform: uppercase;
}
.product-btn a.wishlist{ 
  background: #3db497;
}
.product-btn a.buy{ 
  background: #e24254;
}
.share-btn{
  position: relative;
  display: block;
  padding: 15px 0;
}
.share-btn ul{
  position: relative;
  display: block;
  padding: 0;
  text-align: right;
}
.share-btn li{
  display: inline-block;
  list-style: none;
  padding-left: 5px;
}
.share-btn li a{
  background: #ebebeb;
  color: #333;
  width: 30px;
  height: 30px;
  display: block;
  text-decoration: none;
  text-align: center;
  line-height: 30px;
}
.share-btn li.facebook a{
  background: #3a5897;
  color: #fff;
}
.share-btn li.twitter a{
  background: #22a1f2;
  color: #fff;
}
.share-btn li.plus a{
  background: #fa6551;
  color: #fff;
}
.share-btn li.count a {
  color: #333;
  width: 20px;
  position: relative;
  margin-left: 5px;
}
.share-btn li.count a::after {
  content: '\f0d9';
  position: absolute;
  left: -5px;
  font-size: 15px;
  color: #ebebeb;
  z-index: 333;
  font-weight: 900;
}
.products-tab {
  position: relative;
  padding-top: 0;
}
.details-tabs .nav-tabs {
  position: relative;
  border: none;
  justify-content: left;
  margin-bottom: 30px;
}
.details-tabs .nav-tabs li {
  position: relative;
  display: block;
  width: auto;
}
.details-tabs .nav-tabs li a {
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 10px 25px;
  display: block;
  box-shadow: none;
  background-color: #d5d9dc;
  border: 1px solid #ffffff;
  border-right: none;
}
.details-tabs .nav-tabs li:last-child a {
  border-right: 1px solid #ffffff;
}
.details-tabs .nav-tabs li a.active, .details-tabs .nav-tabs li a:hover {
  color: #fff;
  background: #ffb400;
}
.details-contents{
  position: relative;
  display: block;
}
.details-contents .table thead th,
.details-contents .table td,
.details-contents .table th {
  border: none;
}
.details-contents .table th {
  font-size: 14px;
  color: #1f252b;
  text-transform: uppercase;
  font-weight: 700;
}
.details-contents .table td{
  font-size: 14px;
  color: #1f252b;
}
.details-contents tbody tr:nth-of-type(2n+1) {
  background-color: #e7ebec;
}
.inquiry-area{
  position: relative;
  display: block;
}
.inquiry-area p{
  font-size: 15px;
  color: #1f252b;
  margin-bottom: 30px;
}
.inquiry-area form {
  max-width: 500px;
}
.inquiry-area label {
    text-align: right;
    font-size: 14px;
    color: #1f252b;
}
.inquiry-area label span{
  color: #e24254;
}
.inquiry-area input, .inquiry-area textarea {
    border-color: #e9e8e6;
    border-radius: 0;
    font-size: 14px;
    color: #646464;
    padding: 6px 15px;
}
.inquiry-area textarea{
  height: 100px;
}
.inquiry-area input:focus, .inquiry-area textarea:focus {
    outline: none;
    box-shadow: none;
    border-color: #e9e8e6;
}
.inquiry-area input[type="submit"],
.inquiry-area input[type="submit"]:hover,
.inquiry-area input[type="submit"]:focus {
  background: #e24254;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px 30px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 20px;
}
.details-contents .review-item {
  position: relative;
  padding: 15px 0 0;
}
.details-contents .review-item h5 {
  font-size: 16px;
  color: #adadad;
  margin: 0;
  padding-top: 10px;
}
.details-contents .review-item > p{
  font-size: 16px;
  color: #1f252b;
}
.details-contents .review-item .rating i {
  color: #fdcb1e;;
}
.details-contents .review-area p {
  font-size: 15px;
  color: #1f252b;
}
.details-contents .review-area > a {
  background: #e24254;
  display: inline-block;
  padding: 10px 20px;
  font-size: 15px;
  color: #fff;
  border-radius: 5px;
  margin: 5px 0 15px;
  text-transform: uppercase;
}

/*===========    Dashboard AREA ====================*/

.dashboard-area{
  position: relative;
  background: #fff;
}
.dashboard-menu {
  position: relative;
  display: block;
  padding-right: 30px;
}
.dashboard-area .col-md-4 .title {
  opacity: 0;
  visibility: hidden !important;
}
.dashboard-menu .nav.nav-tabs {
  position: relative;
  border: none;
  display: block;
  background: #0f1930;
  margin: 0px 0 40px;
  padding: 10px 0;
}
.dashboard-menu .nav.nav-tabs li {
  display: block;
  border-bottom: 1px solid #1f2c4b;
  padding: 10px 15px;
}
.dashboard-menu .nav.nav-tabs li:last-child {
  border-bottom: none;
}
.dashboard-menu .nav.nav-tabs li a{
  font-size: 16px;
  color: #fff;
}
.dashboard-menu .nav.nav-tabs li a:hover,
.dashboard-menu .nav.nav-tabs li a:focus,
.dashboard-menu .nav.nav-tabs li a.active{
  color: #6497b1;
}
.dashboard-area .title {
  text-align: left;
  padding-bottom: 30px;
}
.dashboard-area .bill-item h3 {
  font-size: 25px;
  margin: 0 0 15px;
  color: #fff;
  line-height: 26px;
  text-align: left;
}
.dashboard-area .col-md-12.col-lg-6:nth-child(2) .bill-item {
  background: #02929e;
}
.dashboard-area .col-md-12.col-lg-6:nth-child(2) .bill-item > a {
  background: #126d75;
}
.bill-item {
  display: block;
  position: relative;
  background: #ec4e3e;
  padding: 15px;
  border-radius: 3px;
  text-align: right;
  min-height: 160px;
  margin-bottom: 30px;
}
.dashboard-area .bill-item h3 {
  font-size: 25px;
  margin: 0 0 15px;
  color: #fff;
  line-height: 26px;
  text-align: left;
}
.bill-item p {
  font-size: 14px;
  color: #fff;
  line-height: 25px;
  text-align: left;
}
.bill-item a {
  color: #ffffff;
  background: #c33a2c;
  padding: 8px 20px;
  border-radius: 3px;
  display: inline-block;
  text-align: center;
  position: absolute;
  right: 15px;
  bottom: 15px;
}
.dashboard-area td p{
  font-size: 15px;
  color: #000;
  margin-bottom: 0;
}
.dashboard-area .product-title p {
  color: #000;
  font-size: 14px;
  margin-bottom: 0;
}
.dashboard-area .cart-form p.quote {
  color: #6497b1;
}
.dashboard-area .cart-form {
  position: relative;
}
.dashboard-area h3{
  font-size: 32px;
  color: #202020;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.dashboard-area .cart_table th.product-remove {
  min-width: 145px;
}
.cart_table {
    margin-bottom: 15px;
    border-collapse: collapse;
    border: 0;
    width: 100%;
}
.cart_table thead {
  background: #1f252b;
}
.cart_table tr {
  border: 1px dashed #d6d6d6;
  border-right: 0;
  border-left: 0;
}
.cart_table tr:first-child{
  border: none;
}
.subtotal a{
  color: #1f252b;
}
.cart_table thead tr {
  border: none;
}
.cart_table th {
  font-weight: 700;
  color: #fff;
  padding: 9px 12px;
  font-size: 14px;
}
.cart_table .cart_item td{
  padding: 10px 20px;
}
.cart_table .cart_item .product-thumbnail img {
  display: block;
  width: auto;
  max-height: 70px;
}
.cart_table .cart_item td.product-thumbnail a {
  padding: 20px;
  border: 1px solid #eae9e7;
  display: inline-block;
}
.cart_table .cart_item .product-remove img {
  display: block;
  width: auto;
  max-height: 18px;
}
.cart_table .cart_item .product-title a {
  font-size: 15px;
  text-align: center;
  color: #6497b1;
  font-weight: 700;
}
.view-btn {
  position: relative;
  display: block;
  text-align: center;
  margin-top: 20px;
}
.view-btn a.button, .view-btn a.button:hover,.view-btn a.button:focus {
  text-transform: uppercase;
  color: #fff;
}
.button {
    display: inline-block;
    padding: 8px 30px;
    color: #fff;
    background: #1f252b;
    border: none;
    font-size: 14px;
    border-radius: 5px;
    font-weight: 600;
}

/*============ Cart Page ===================*/

.cart_table {
  margin-bottom: 15px;
  border-collapse: collapse;
  border: 0;
  width: 100%;
}
.cart-page .product-top{
  border: none;
}
.cart_table thead {
  background: #6497b1;
}
.cart_table tr {
  border: 1px dashed #d6d6d6;
  border-right: 0;
  border-left: 0;
}
.cart_table tr:first-child{
  border: none;
}
.cart_table thead tr {
  border: none;
}
.cart_table th {
  font-weight: 700;
  color: #fff;
  padding: 9px 12px;
  font-size: 14px;
}
.cart_table .cart_item td{
  padding: 10px 20px;
}
.product-remove a {
  color: #fff;
  background: #3db497;
  padding: 10px 10px;
  border-radius: 3px;
}
.cart_table .cart_item .product-name {
  padding: 30px;
  min-width: 80px;
}
.product-price p {
  font-size: 14px;
  font-weight: normal;
  color: #1f252b;
  margin: 0;
}
.cart_table .cart_item .product-thumbnail img {
  display: block;
  width: auto;
  max-height: 70px;
}
.cart_table .cart_item td.product-thumbnail a {
  padding: 20px;
  border: 1px solid #eae9e7;
  display: inline-block;
}
.cart_table .cart_item .product-remove img {
  display: block;
  width: auto;
  max-height: 18px;
}
.cart_table .cart_item .product-title a {
  font-size: 15px;
  text-align: center;
  color: #6497b1;
  font-weight: 700;
}
.product-title p {
  color: #000;
  font-size: 14px;
  margin-bottom: 0;
}
.cart_table .cart_item .product-title span {
  font-size: 14px;
  font-weight: 500;
  font-style: italic;
  text-align: left;
  color: #e24254;
  display: block;
}
.product-quantity p {
  font-size: 14px;
  font-weight: bold;
  color: #1f252b;
  margin: 0;
}
.cart_table .input-group-btn button {
  background: #3db497;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  border-radius: 3px;
  height: 30px;
  line-height: 30px;
}
.cart_table .input-group input {
  float: left;
  width: 40px;
  border: none;
  color: #000;
  border-radius: 3px;
  text-align: center;
  border: 1px solid #e9e8e6;
  margin: 0 5px;
  height: 30px;
  line-height: 30px;
}
.cart_table .input-group {
  position: relative;
}
.cart_table .cart_item .subtotal p {
  font-size: 14px;
  font-weight: bold;
  color: #1f252b;
  margin: 0;
}
.products-total .carttotal {
  float: right;
  padding-bottom: 10px;
}
.products-total .carttotal p {
  font-size: 16px;
  text-align: left;
  color: #414042;
  margin: 0px 0 5px;
}
.products-total .carttotal p span {
  padding-left: 100px;
  float: right;
}
.continue {
  position: relative;
  padding-top: 20px;
}
.continue ul{
  position: relative;
  display: block;
  padding: 0;
  text-align: right;
}
.continue ul li{
  display: inline-block;
  padding-left: 10px;
}
.continue ul li a {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  padding: 10px 20px;
  background-color: #3db497;
  border-radius: 5px;
  text-transform: uppercase;
}
.continue ul li.request-btn a {
  background: #ffa800;
}
.continue ul li.buy-btn a {
  background: #e24254;
}
.continue ul li.back-btn a {
  background: #3e7693;
}




/*==== Start Review Page  ====*/

.review-area{
  position: relative;
  display: block;
}
.heading {
  position: relative;
  display: block;
  background: #6497b1;
  margin-bottom: 30px;
  margin-top: 20px;
}
.heading h4 {
  font-size: 25px;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  padding: 7px 15px;
  margin: 0;
}
.heading a {
  float: right;
  display: inline-block;
  font-size: 14px;
  background: #3e7693;
  color: #fff;
  text-transform: uppercase;
  padding: 8px 20px;
}
.heading a > i {
  border: 2px solid #fff;
  width: 28px;
  height: 28px;
  margin-left: 10px;
  line-height: 25px;
  text-align: center;
  border-radius: 50%;
  font-size: 12px;
}
.review-area label {
  font-size: 16px;
  color: #000000;
  padding: 8px 0;
  text-align: right;
}
.review-area label span {
  padding-left: 20px;
}
.review-area label b {
  color: #e24254;
  padding-left: 5px;
  padding-right: 15px;
}
.review-area .form-group {
  margin: 0;
}
.quotation-area.review-area .form-group {
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.review-area .form-group p {
  font-size: 16px;
  color: #000000;
  padding: 8px 0;
  margin: 0;
}
.quotation-area.review-area .form-group p {
  margin-top: 10px;
}
.quotation-area .form-group p code {
  color: #6497b1;
  font-size: 16px;
  font-weight: 600;
}
.review-area .form-group.bdr-none{
  border-bottom: none;
}
.review-area input, .review-area textarea {
    border: 1px solid #e9e8e6;
    border-radius: 5px;
    width: 100%;
    color: #333;
    background: transparent;
    padding: 6px 15px;
}
.review-area input:focus, .review-area textarea:focus {
    outline: none;
    box-shadow: none;
    border-color: #e9e8e6;
}
.payment {
  position: relative;
  padding-top: 15px;
}
.payment-by {
    position: relative;
    display: block;
    max-width: 350px;
}
.payment label {
  font-size: 16px;
  color: #1f252b;
  font-weight: 500;
  text-align: right;
}
.payment-by::after {
    content: '\25BC';
    position: absolute;
    right: 15px;
    line-height: 30px;
    color: #818181;
    top: 0;
    font-size: 20px;
    padding: 5px 10px;
    background: #fff;
    pointer-events: none;
    height: 100%;
    border: 1px solid #e9e8e6;
    border-left: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.payment-by select, .payment-by select:focus {
    color: #202020;
    font-size: 14px;
    font-family: 'Berlin Sans FB';
    border: 1px solid #e9e8e6;
    padding: 10px 15px;
    border-radius: 5px;
    text-transform: uppercase;
    box-shadow: none;
    background: transparent;
    height: auto !important;
}
.payment-by select option {
    font-size: 15px;
    color: #333;
}
.quotation-by {
  position: relative;
  display: block;
  max-width: 350px;
}
.quotation-by select, .quotation-by select:focus {
  color: #202020;
  font-size: 14px;
  font-family: 'Berlin Sans FB';
  border: 1px solid #e9e8e6;
  padding: 10px 15px 8px;
  border-radius: 5px;
  text-transform: uppercase;
  box-shadow: none;
  background: transparent;
  height: auto !important;
  width: 100%;
}
.quotation-by::after {
  content: '\25BC';
  position: absolute;
  right: 0;
  line-height: 30px;
  color: #818181;
  top: 0;
  font-size: 20px;
  padding: 5px 10px;
  background: #fff;
  pointer-events: none;
  height: 100%;
  border: 1px solid #e9e8e6;
  border-left: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.quotation-area .submit-button {
  text-align: right;
  border: none;
  margin-top: 30px;
}
.quotation-area .submit-button button[type="submit"] {
  background: #ffa800;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  text-transform: uppercase;
  padding: 10px 20px;
  max-width: 250px;
}
.quotation-area .submit-button input[type="submit"].review-order {
  background: #e24254;
}


.payment-area {
    position: relative;
    margin-bottom: 20px;
    border: 1px solid #eaeaea;
    padding: 15px;
    display: none;
    border-radius: 3px;
}
.payment-area.show{
  display: block;
}
.payment-main input#transaction{
  display: none;
}
.payment-area img {
    position: relative;
    max-width: 100px;
    width: auto;
    height: auto;
}
.payment-area .media-body p {
    margin: 0 !important;
    padding: 0;
}
.payment-area .media-body .alert {
    margin-top: 10px;
}




/*========== Footer ==============*/

footer{
  position: relative;
}
.footer-area{
  position: relative;
  padding: 50px 0 20px;
  background: #1f252b;
}
.footer-area h3 {
  font-size: 26px;
  color: #fff;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.footer-menu, .footer-about {
  position: relative;
  padding-bottom: 30px;
}
.footer-about p {
    font-size: 15px;
    color: #fff;
    text-align: justify;
    padding-right: 15px;
}
.footer-menu > ul{
  position: relative;
  padding: 0px;
}
.footer-menu ul > li{
  position: relative;
  padding-top: 10px;
}
.footer-menu ul> li > a{
  font-size: 15px;
  color: #fff;
  text-transform: capitalize;
}
.footer-menu ul li a:hover, .footer-menu ul li a:focus{
  color:#00a1b1;
}
.social-info {
  position: relative;
  display: block;
  margin-right: 20px;
}
.social-info ul {
  position: relative;
  margin: 0;
  padding: 15px 0;
}
.social-info li {
  position: relative;
  padding: 0px 5px;
  display: inline-block;
}
.social-info li:first-child{
  padding-left: 0;
}
.social-info li a {
  transition: 0.5s;
  color: #fff;
  font-size: 16px;
}
.social-info li a i {
  border: 2px solid #fff;
  width: 36px;
  height: 36px;
  line-height: 34px;
  text-align: center;
  border-radius: 50%;
}
.footer-copyright{
  background: #161c21;
  padding: 15px 0;
}
.copyright {
  position: relative;
  display: block;
  text-align: center;
}
.copyright p{
  font-size: 15px;
  color: #d7d7d7;
  margin-bottom: 0;
}
.copyright p a{
  color: #394755;
}